<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.infrastructure.persistence.dao.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ning.infrastructure.persistence.model.UserDO">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="nickname" property="nickname" />
        <result column="gender" property="gender" />
        <result column="phone_number" property="phoneNumber" />
        <result column="id_number" property="idNumber" />
        <result column="email" property="email" />
        <result column="avatar" property="avatar" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, username, password, salt, nickname, gender, phone_number, id_number, email, avatar, is_deleted, create_time, update_time
    </sql>

</mapper>
