<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.dao.ExamQuestionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ning.entity.ExamQuestion">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="stem" property="stem"/>
        <result column="score" property="score"/>
        <result column="answer" property="answer"/>
        <result column="analysis" property="analysis"/>
        <result column="metas" property="metas"/>
        <result column="category_id" property="categoryId"/>
        <result column="used_num" property="usedNum"/>
        <result column="is_delete" property="isDelete"/>
        <result column="is_show" property="isShow"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="copy_id" property="copyId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, stem, score, answer, analysis, metas, category_id, used_num, is_delete, is_show, create_user_id, create_time, update_user_id, update_time, copy_id
    </sql>

    <!--批量修改题目使用数-->
    <update id="updateUsedNumBatchIds">
        update exam_question t set t.used_num = t.used_num + 1
        where t.id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

</mapper>
