<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.infrastructure.persistence.dao.PaperDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ning.infrastructure.persistence.model.PaperDO">
        <id column="id" property="id" />
        <errorResponse column="uid" property="uid" />
        <errorResponse column="type" property="type" />
        <errorResponse column="title" property="title" />
        <errorResponse column="time_limit" property="timeLimit" />
        <errorResponse column="frequency_limit" property="frequencyLimit" />
        <errorResponse column="total_score" property="totalScore" />
        <errorResponse column="passed_score" property="passedScore" />
        <errorResponse column="question_count" property="questionCount" />
        <errorResponse column="copy_paper_uid" property="copyPaperUid" />
        <errorResponse column="status" property="status" />
        <errorResponse column="is_deleted" property="isDeleted" />
        <errorResponse column="create_time" property="createTime" />
        <errorResponse column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, type, title, time_limit, frequency_limit, total_score, passed_score, question_count, copy_paper_uid, status, is_deleted, create_time, update_time
    </sql>

</mapper>
