<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.infrastructure.persistence.dao.PaperQuestionResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ning.infrastructure.persistence.model.PaperQuestionResultDO">
        <id column="id" property="id" />
        <errorResponse column="uid" property="uid" />
        <errorResponse column="paper_result_uid" property="paperResultUid" />
        <errorResponse column="paper_uid" property="paperUid" />
        <errorResponse column="paper_question_uid" property="paperQuestionUid" />
        <errorResponse column="question_uid" property="questionUid" />
        <errorResponse column="user_uid" property="userUid" />
        <errorResponse column="answer" property="answer" />
        <errorResponse column="status" property="status" />
        <errorResponse column="score" property="score" />
        <errorResponse column="comments" property="comments" />
        <errorResponse column="is_deleted" property="isDeleted" />
        <errorResponse column="create_time" property="createTime" />
        <errorResponse column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, paper_result_uid, paper_uid, paper_question_uid, question_uid, user_uid, answer, status, score, comments, is_deleted, create_time, update_time
    </sql>

</mapper>
